<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>583912075544-ghjh46gqq3b3ercfte26qh546dbbt39b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583912075544-ghjh46gqq3b3ercfte26qh546dbbt39b</string>
	<key>API_KEY</key>
	<string>AIzaSyBqPuWiHWft4H58C929CKTMu8dJlMpbEjc</string>
	<key>GCM_SENDER_ID</key>
	<string>583912075544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.born2go.smallworld</string>
	<key>PROJECT_ID</key>
	<string>smallworld3d-2ac88</string>
	<key>STORAGE_BUCKET</key>
	<string>smallworld3d-2ac88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:583912075544:ios:c29b5b25e6abd014</string>
	<key>DATABASE_URL</key>
	<string>https://smallworld3d-2ac88.firebaseio.com</string>
</dict>
</plist>