[submodule "Assets/Books/SolarSystemPlanets"]
	path = Assets/Books/SolarSystemPlanets
	url = git@github.com:3DScience/b_solar_sys_planets.git
	master = master
[submodule "Assets/Books/Fishingman"]
	path = Assets/Books/Fishingman
	url = git@github.com:3DScience/b_fishman_goldenfish.git
	master = master
